@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mukta&family=Playfair+Display&display=swap');

body {
   font-family: "Mukta", sans-serif;
   padding-top: 60px;
   background-color: #ccc;
}
* {
   box-sizing: border-box;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   background-color: #000;
   width: 100%;
}

nav ul {
   display: flex;
   justify-content: center;
}

nav ul li a {
   color: white;
   text-decoration: none;
   margin: 20px;
}

nav ul li a:hover {
   text-decoration: underline;
}

#main {
   text-align: center;
   width: 100%;
}

#title {
   font-family: Lobster, sans-serif;
   font-size: 10vw;
   line-height: 0;
} 

#main p {
   font-size: 25px;
}

#img-caption {
   margin-top: 5px;
   font-size: 18px;
}

#image {
   width: 100%;
   display: block;
}

#img-div {
   background-color: white;
   padding: 15px;
}

#tribute-info {
   width: 80%;
   margin: auto;
   padding-top: 35px;
/*    background-color: powderblue; */
}

#tribute-info h2{
   font-weight: bold;
   text-align: center;
}

#link {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 60px;
}